<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="md">
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <swiper-container
      [modules]="swiperModules"
      [slidesPerView]="1.2"
      [spaceBetween]="20"
      [keyboard]="true"
      [pagination]="{clickable: true, dynamicBullets: true}"
    >
      <swiper-slide>
        <img src="assets/imgs/1.jpg" alt="Slider image 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/imgs/2.jpg" alt="Slider image 2" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/imgs/3.jpg" alt="Slider image 3" />
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
